/**
 * Reset some basic elements
 */
/* line 4, ../partials/base/_base.scss */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
/* line 16, ../partials/base/_base.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
/* line 29, ../partials/base/_base.scss */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px;
}

/**
 * Images
 */
/* line 41, ../partials/base/_base.scss */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
/* line 51, ../partials/base/_base.scss */
figure > img {
  display: block;
}

/* line 55, ../partials/base/_base.scss */
figcaption {
  font-size: 14px;
}

/**
 * Lists
 */
/* line 64, ../partials/base/_base.scss */
ul, ol {
  margin-left: 30px;
}

/* line 69, ../partials/base/_base.scss */
li > ul,
li > ol {
  margin-bottom: 0;
}

/**
 * Headings
 */
/* line 80, ../partials/base/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/**
 * Links
 */
/* line 89, ../partials/base/_base.scss */
a {
  color: pink;
  text-decoration: none;
}
/* line 93, ../partials/base/_base.scss */
a:visited {
  color: #ff738c;
}
/* line 97, ../partials/base/_base.scss */
a:hover {
  color: #111;
  text-decoration: underline;
}

/**
 * Blockquotes
 */
/* line 108, ../partials/base/_base.scss */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}
/* line 116, ../partials/base/_base.scss */
blockquote > :last-child {
  margin-bottom: 0;
}

/**
 * Code formatting
 */
/* line 126, ../partials/base/_base.scss */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef;
}

/* line 134, ../partials/base/_base.scss */
code {
  padding: 1px 5px;
}

/* line 138, ../partials/base/_base.scss */
pre {
  padding: 8px 12px;
  overflow-x: scroll;
}
/* line 142, ../partials/base/_base.scss */
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/**
 * Wrapper
 */
/**
 * Clearfix
 */
/* line 168, ../partials/base/_base.scss */
.footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */
/* line 182, ../partials/base/_base.scss */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
/* line 188, ../partials/base/_base.scss */
.icon > svg path {
  fill: #828282;
}

/* line 1, ../partials/base/_layout.scss */
.wrapper {
  background: lightyellow;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.wrapper:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 8, ../partials/base/_layout.scss */
.content-left {
  box-sizing: border-box;
  width: 66.66667%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

/* line 11, ../partials/base/_layout.scss */
.content-right {
  box-sizing: border-box;
  width: 25%;
  float: right;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

/* line 14, ../partials/base/_layout.scss */
.rss-subscribe {
  clear: both;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

/**
 * Site header
 */
/* line 21, ../partials/base/_layout.scss */
.site-header {
  border-top: 5px solid #424242;
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  position: relative;
}

/* line 30, ../partials/base/_layout.scss */
.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
}
/* line 36, ../partials/base/_layout.scss */
.site-title, .site-title:visited {
  color: #424242;
}

/* line 45, ../partials/base/_layout.scss */
.site-nav {
  position: absolute;
  top: 9px;
  right: 30px;
  background-color: #fdfdfd;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  text-align: right;
}
/* line 54, ../partials/base/_layout.scss */
.site-nav:hover .trigger {
  display: block;
  padding-bottom: 5px;
}
@media (min-width: 600px) {
  /* line 45, ../partials/base/_layout.scss */
  .site-nav {
    position: relative;
    top: 12px;
    float: right;
    border: none;
  }
}

/* line 66, ../partials/base/_layout.scss */
.trigger {
  clear: both;
  display: none;
}
@media (min-width: 600px) {
  /* line 66, ../partials/base/_layout.scss */
  .trigger {
    display: block;
  }
  /* line 70, ../partials/base/_layout.scss */
  .trigger a {
    display: inline-block;
  }
}

/* line 77, ../partials/base/_layout.scss */
.menu-icon {
  display: block;
  float: right;
  width: 36px;
  height: 26px;
  line-height: 0;
  padding-top: 10px;
  text-align: center;
}
/* line 86, ../partials/base/_layout.scss */
.menu-icon > svg {
  width: 18px;
  height: 15px;
}
/* line 90, ../partials/base/_layout.scss */
.menu-icon > svg path {
  fill: #424242;
}
@media (min-width: 600px) {
  /* line 77, ../partials/base/_layout.scss */
  .menu-icon {
    display: none;
  }
}

/* line 99, ../partials/base/_layout.scss */
.page-link {
  display: block;
  padding: 5px 10px;
}
@media (min-width: 600px) {
  /* line 99, ../partials/base/_layout.scss */
  .page-link {
    padding: 5px 5px;
    color: #111;
    line-height: 1.5;
  }
  /* line 107, ../partials/base/_layout.scss */
  .page-link:not(:first-child) {
    margin-left: 20px;
  }
}

/**
 * Site footer
 */
/* line 120, ../partials/base/_layout.scss */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
}

/* line 125, ../partials/base/_layout.scss */
.footer-heading {
  font-size: 18px;
  margin-bottom: 15px;
}

/* line 130, ../partials/base/_layout.scss */
.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

/* line 136, ../partials/base/_layout.scss */
.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px;
}

/* line 143, ../partials/base/_layout.scss */
.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px;
}

/* line 149, ../partials/base/_layout.scss */
.footer-col-1 {
  width: calc(35% - (30px / 2));
}

/* line 154, ../partials/base/_layout.scss */
.footer-col-2 {
  width: calc(20% - (30px / 2));
}

/* line 159, ../partials/base/_layout.scss */
.footer-col-3 {
  width: calc(45% - (30px / 2));
}

@media (min-width: 800px) {
  /* line 165, ../partials/base/_layout.scss */
  .footer-col-1,
  .footer-col-2 {
    width: calc(50% - (30px / 2));
  }

  /* line 171, ../partials/base/_layout.scss */
  .footer-col-3 {
    width: calc(100% - (30px / 2));
  }
}
@media (min-width: 600px) {
  /* line 178, ../partials/base/_layout.scss */
  .footer-col {
    float: none;
    width: calc(100% - (30px / 2));
  }
}
/**
 * Page content
 */
/* line 188, ../partials/base/_layout.scss */
.page-content {
  padding: 30px 0;
}

/* line 192, ../partials/base/_layout.scss */
.page-heading {
  font-size: 20px;
}
@media (min-width: 600px) {
  /* line 192, ../partials/base/_layout.scss */
  .page-heading {
    font-size: 2em;
  }
}

/* line 199, ../partials/base/_layout.scss */
.post-list {
  margin-left: 0;
  list-style: none;
}
/* line 203, ../partials/base/_layout.scss */
.post-list > li {
  margin-bottom: 30px;
}

/* line 208, ../partials/base/_layout.scss */
.post-meta {
  font-size: 14px;
  color: #828282;
}

/* line 213, ../partials/base/_layout.scss */
.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Posts
 */
/* line 221, ../partials/base/_layout.scss */
.post-header {
  margin-bottom: 30px;
}

/* line 225, ../partials/base/_layout.scss */
.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}
@media (min-width: 800px) {
  /* line 225, ../partials/base/_layout.scss */
  .post-title {
    font-size: 36px;
  }
}

/* line 235, ../partials/base/_layout.scss */
.post-content {
  margin-bottom: 30px;
}
/* line 238, ../partials/base/_layout.scss */
.post-content h2 {
  font-size: 32px;
}
@media (min-width: 800px) {
  /* line 238, ../partials/base/_layout.scss */
  .post-content h2 {
    font-size: 28px;
  }
}
/* line 246, ../partials/base/_layout.scss */
.post-content h3 {
  font-size: 26px;
}
@media (min-width: 800px) {
  /* line 246, ../partials/base/_layout.scss */
  .post-content h3 {
    font-size: 22px;
  }
}
/* line 254, ../partials/base/_layout.scss */
.post-content h4 {
  font-size: 20px;
}
@media (min-width: 800px) {
  /* line 254, ../partials/base/_layout.scss */
  .post-content h4 {
    font-size: 18px;
  }
}

/**
 * Syntax highlighting styles
 */
/* line 4, ../partials/base/_syntax-highlighting.scss */
.highlight {
  background: #fff;
}
/* line 8, ../partials/base/_syntax-highlighting.scss */
.highlight .c {
  color: #998;
  font-style: italic;
}
/* line 9, ../partials/base/_syntax-highlighting.scss */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
/* line 10, ../partials/base/_syntax-highlighting.scss */
.highlight .k {
  font-weight: bold;
}
/* line 11, ../partials/base/_syntax-highlighting.scss */
.highlight .o {
  font-weight: bold;
}
/* line 12, ../partials/base/_syntax-highlighting.scss */
.highlight .cm {
  color: #998;
  font-style: italic;
}
/* line 13, ../partials/base/_syntax-highlighting.scss */
.highlight .cp {
  color: #999;
  font-weight: bold;
}
/* line 14, ../partials/base/_syntax-highlighting.scss */
.highlight .c1 {
  color: #998;
  font-style: italic;
}
/* line 15, ../partials/base/_syntax-highlighting.scss */
.highlight .cs {
  color: #999;
  font-weight: bold;
  font-style: italic;
}
/* line 16, ../partials/base/_syntax-highlighting.scss */
.highlight .gd {
  color: #000;
  background-color: #fdd;
}
/* line 17, ../partials/base/_syntax-highlighting.scss */
.highlight .gd .x {
  color: #000;
  background-color: #faa;
}
/* line 18, ../partials/base/_syntax-highlighting.scss */
.highlight .ge {
  font-style: italic;
}
/* line 19, ../partials/base/_syntax-highlighting.scss */
.highlight .gr {
  color: #a00;
}
/* line 20, ../partials/base/_syntax-highlighting.scss */
.highlight .gh {
  color: #999;
}
/* line 21, ../partials/base/_syntax-highlighting.scss */
.highlight .gi {
  color: #000;
  background-color: #dfd;
}
/* line 22, ../partials/base/_syntax-highlighting.scss */
.highlight .gi .x {
  color: #000;
  background-color: #afa;
}
/* line 23, ../partials/base/_syntax-highlighting.scss */
.highlight .go {
  color: #888;
}
/* line 24, ../partials/base/_syntax-highlighting.scss */
.highlight .gp {
  color: #555;
}
/* line 25, ../partials/base/_syntax-highlighting.scss */
.highlight .gs {
  font-weight: bold;
}
/* line 26, ../partials/base/_syntax-highlighting.scss */
.highlight .gu {
  color: #aaa;
}
/* line 27, ../partials/base/_syntax-highlighting.scss */
.highlight .gt {
  color: #a00;
}
/* line 28, ../partials/base/_syntax-highlighting.scss */
.highlight .kc {
  font-weight: bold;
}
/* line 29, ../partials/base/_syntax-highlighting.scss */
.highlight .kd {
  font-weight: bold;
}
/* line 30, ../partials/base/_syntax-highlighting.scss */
.highlight .kp {
  font-weight: bold;
}
/* line 31, ../partials/base/_syntax-highlighting.scss */
.highlight .kr {
  font-weight: bold;
}
/* line 32, ../partials/base/_syntax-highlighting.scss */
.highlight .kt {
  color: #458;
  font-weight: bold;
}
/* line 33, ../partials/base/_syntax-highlighting.scss */
.highlight .m {
  color: #099;
}
/* line 34, ../partials/base/_syntax-highlighting.scss */
.highlight .s {
  color: #d14;
}
/* line 35, ../partials/base/_syntax-highlighting.scss */
.highlight .na {
  color: #008080;
}
/* line 36, ../partials/base/_syntax-highlighting.scss */
.highlight .nb {
  color: #0086B3;
}
/* line 37, ../partials/base/_syntax-highlighting.scss */
.highlight .nc {
  color: #458;
  font-weight: bold;
}
/* line 38, ../partials/base/_syntax-highlighting.scss */
.highlight .no {
  color: #008080;
}
/* line 39, ../partials/base/_syntax-highlighting.scss */
.highlight .ni {
  color: #800080;
}
/* line 40, ../partials/base/_syntax-highlighting.scss */
.highlight .ne {
  color: #900;
  font-weight: bold;
}
/* line 41, ../partials/base/_syntax-highlighting.scss */
.highlight .nf {
  color: #900;
  font-weight: bold;
}
/* line 42, ../partials/base/_syntax-highlighting.scss */
.highlight .nn {
  color: #555;
}
/* line 43, ../partials/base/_syntax-highlighting.scss */
.highlight .nt {
  color: #000080;
}
/* line 44, ../partials/base/_syntax-highlighting.scss */
.highlight .nv {
  color: #008080;
}
/* line 45, ../partials/base/_syntax-highlighting.scss */
.highlight .ow {
  font-weight: bold;
}
/* line 46, ../partials/base/_syntax-highlighting.scss */
.highlight .w {
  color: #bbb;
}
/* line 47, ../partials/base/_syntax-highlighting.scss */
.highlight .mf {
  color: #099;
}
/* line 48, ../partials/base/_syntax-highlighting.scss */
.highlight .mh {
  color: #099;
}
/* line 49, ../partials/base/_syntax-highlighting.scss */
.highlight .mi {
  color: #099;
}
/* line 50, ../partials/base/_syntax-highlighting.scss */
.highlight .mo {
  color: #099;
}
/* line 51, ../partials/base/_syntax-highlighting.scss */
.highlight .sb {
  color: #d14;
}
/* line 52, ../partials/base/_syntax-highlighting.scss */
.highlight .sc {
  color: #d14;
}
/* line 53, ../partials/base/_syntax-highlighting.scss */
.highlight .sd {
  color: #d14;
}
/* line 54, ../partials/base/_syntax-highlighting.scss */
.highlight .s2 {
  color: #d14;
}
/* line 55, ../partials/base/_syntax-highlighting.scss */
.highlight .se {
  color: #d14;
}
/* line 56, ../partials/base/_syntax-highlighting.scss */
.highlight .sh {
  color: #d14;
}
/* line 57, ../partials/base/_syntax-highlighting.scss */
.highlight .si {
  color: #d14;
}
/* line 58, ../partials/base/_syntax-highlighting.scss */
.highlight .sx {
  color: #d14;
}
/* line 59, ../partials/base/_syntax-highlighting.scss */
.highlight .sr {
  color: #009926;
}
/* line 60, ../partials/base/_syntax-highlighting.scss */
.highlight .s1 {
  color: #d14;
}
/* line 61, ../partials/base/_syntax-highlighting.scss */
.highlight .ss {
  color: #990073;
}
/* line 62, ../partials/base/_syntax-highlighting.scss */
.highlight .bp {
  color: #999;
}
/* line 63, ../partials/base/_syntax-highlighting.scss */
.highlight .vc {
  color: #008080;
}
/* line 64, ../partials/base/_syntax-highlighting.scss */
.highlight .vg {
  color: #008080;
}
/* line 65, ../partials/base/_syntax-highlighting.scss */
.highlight .vi {
  color: #008080;
}
/* line 66, ../partials/base/_syntax-highlighting.scss */
.highlight .il {
  color: #099;
}
